<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <title>Recipe App</title>
    <link rel="stylesheet" href="/stylesheet/index.css">
</head>

<body>
    <%- include ('partials/navbar.ejs') %>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <!-- Sidebar Filter -->
                <div class="sidebar">
                    <h2>Filters</h2>
                    <!-- Serving Size Dropdown -->
                    <div class="form-group">
                        <h3>Serving Size</h3>
                        <select class="form-control" id="servingSize">
                            <option value="">Select serving size</option>
                            <option value="1-2">1-2 servings</option>
                            <option value="3-4">3-4 servings</option>
                            <option value="5-6">5-6 servings</option>
                            <option value="7+">7+ servings</option>
                        </select>
                    </div>
                    <!-- Cuisine Options -->
                    <h3>Cuisine</h3>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="italian" id="cuisineItalian">
                        <label class="form-check-label" for="cuisineItalian">
                            Italian
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="chinese" id="cuisineChinese">
                        <label class="form-check-label" for="cuisineChinese">
                            Chinese
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="mexican" id="cuisineMexican">
                        <label class="form-check-label" for="cuisineMexican">
                            Mexican
                        </label>
                    </div><br>

                    <!-- Difficulty Level -->
                    <h3>Difficulty Level</h3>
                    <div class="form-group mt-3">
                        <select class="form-control" id="difficulty">
                            <option value="easy">Easy</option>
                            <option value="medium">Medium</option>
                            <option value="hard">Hard</option>
                        </select>
                    </div><br>

                    <!-- Total Estimated Time Dropdown -->
                    <div class="form-group">
                        <h3>Total Estimated Time</h3>
                        <select class="form-control" id="estimatedTime">
                            <option value="">Select estimated time</option>
                            <option value="under30">Under 30 minutes</option>
                            <option value="30-60">30-60 minutes</option>
                            <option value="1-2hours">1-2 hours</option>
                            <option value="2+hours">2+ hours</option>
                        </select>
                    </div>
                </div>
            </div>
            
            <div class="col-md-9 main-content">
                <div class="container mt-3">
                    <div class="box p-4">
                    <h1>Likes Book</h1>
                    <p>Explore your favorite recipes all in one place! This page features a curated list of the recipes you've liked, 
                        making it easy to find and recreate the dishes you love most. Happy cooking!</p>
                    </div>
                    <!--layout for recipe's-->
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        <% for (let i = 0; i < products.length; i++) { %>
                            <div class="col">
                                <div class="product-card">
                                    <!--recipe image-->
                                    <img src="data:image/jpeg;base64,<%= products[i].recipeImage.toString('base64') %>" class="product-image" alt="<%= products[i].recipeName %> Image">
                                    <h3><%= products[i].recipeName %></h3>
                                    <p>
                                        <% if (products[i].totalTimeEstimated < 15) { %>
                                            <span style="color: green;">Total Estimated Time: <%= products[i].totalTimeEstimated %> mins</span>
                                        <% } else if (products[i].totalTimeEstimated >= 15 && products[i].totalTimeEstimated <= 30) { %>
                                            <span style="color: green;">Total Estimated Time: <%= products[i].totalTimeEstimated %> mins</span>
                                        <% } else if (products[i].totalTimeEstimated > 30 && products[i].totalTimeEstimated <= 60) { %>
                                            <span style="color: orange;">Total Estimated Time: <%= products[i].totalTimeEstimated %> mins</span>
                                        <% } else { %>
                                            <span style="color: orangered;">Total Estimated Time: <%= products[i].totalTimeEstimated %> mins</span>
                                        <% } %>
                                    </p> 
                                    <p>Serving size: <%= products[i].servingSize %></p>
                                    <!--button for actions (update,preview,delete)-->
                                    <div class="d-flex justify-content-between">
                                        <a href="/products/<%= products[i].recipeID %>" class="btn btn-secondary">Preview</a>
                                        <form class="unlike-form" action="/unlike" method = "POST">
                                            <input type="hidden" name="recipeID" value ="<%= products[i].recipeID %>" >
                                            <button type="submit" class="btn btn-danger">Unlike</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>
